html,
body {
  height: 100%;
}
nav {
  transition: all 300ms;
}
nav:focus-within {
  height: 100px;
}
.nav-wrapper i {
  padding: 0 20px;
  color: #fff;
}
.nav-content {
  height: 0;
  overflow: hidden;
  transition: all 300ms;
  transform: translateY(0);
}
.nav-content:focus-within {
  height: 46px;
  transform: translateY(-100%);
}
thead {
  background-color: #333;
  color: #ccc;
}
button i {
  pointer-events: none;
}
.capitalize {
  text-transform: uppercase;
}
.nav-icon {
  position: relative;
}
.sales-count.badge {
  position: absolute;
  color: #fff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  min-width: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  right: 5px;
  top: 5px;
  opacity: 0.8;
}

#print {
  visibility: hidden;
}

@media print {
  #app {
    visibility: hidden;
    height: 0px !important;
    overflow: hidden;
  }
  #print {
    visibility: visible;
  }
}

/* @media print { */
/*   body * { */
/*     visibility: hidden; */
/*   } */
/*   .modal-content, */
/*   .modal-content * { */
/*     visibility: visible; */
/*   } */
/*   .modal-content { */
/*     position: absolute; */
/*     left: 0; */
/*     top: 0; */
/*   } */
/* } */
